*{
    margin:0;
    padding:0;
}

header{
    position:sticky;
    top:0;
    left:0;
    z-index:999;
}

ul{
    display:flex;
    background-color:blueviolet;
}

li{
    padding:12px;
    list-style-type:none;
    color:white;
}

a{
    text-decoration:none;
    color:white;
}

main{
    position:relative;
}

.bd{
    position:relative;
    box-sizing:border-box;
    height:90vh;
    width:100%;
    border:2px solid black;
    background-color:blue
}

.sectionA{
    position:absolute;
    top:20px;
    left:200px;
    height:80vh;
    width:500px;
    background-color:black;
    border:2px solid black;
}

.sectionB{
    position:absolute;
    top:20px;
    right:200px;
    height:80vh;
    width:500px;
    background-color:white;
    border:2px solid black;
}

h1{
    position:absolute;
    left:25%;
    height:150px;
    width:700px;
    border-radius:25px;
    margin-top:50px;
    text-align:center;
    border:2px solid black;
}

img{
    height:50px;
    width:50px;
    position:fixed;
    right:0;
    bottom:0;
    border-radius:50%;
}