*{
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 80px;
}

.card{
    width:244px;
    height:370px;
    border-radius:10px;
    border:2px solid black;
}

img{
    padding: 7px;
    border-radius: 10px;
}

.capsule{
    padding:0 10px 0 15px;
}

.capsule span{
    padding: 0 6px;
    font-size:12px;
    border: 1px solid black;
    border-radius: 13px;
}

.content{
    padding: 3px 13px;
}

.content p{
    padding-top:5px;
    color: gray;
}

.button{
    text-align: center;
    padding: 7px;
}

button{
    margin-top:7px;
    padding: 7px;
    color: rgb(15, 133, 223);
    background-color:rgb(184, 210, 255);
    /* position: relative;
    top: 20px;
    left: 70px; */
    border-radius:15px;
    border: none;
}